/* 
.ant-layout-header {
    padding: 0px;
    background: #ffffff;
    height: 85px;
    position: auto;
    box-shadow: 10px 5px 5px rgb(207, 207, 207);
}
.ant-layout-sider {background-color: #ffffff;} */
.ant-layout{ height: 100%;}
#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }