.navbar{
    display: flex; 
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0px 0px;
 }
 h1.ant-typography{ 
       
        text-align: left ;
        
 }
 
 .title{
     font-size:50px;
    margin-right: 55%;
     
 }
 .ant-menu-vertical{
     border-right: 0;
 }
 .ant-menu-root.ant-menu-vertical{
      align-items: center;
 }
 .img{
   width: 72px;
 }
 .ant-dropdown-link{
     height: 100%;
    

  
 }
 .ant-dropdown-trigger .ant-dropdown-link{
    margin: auto;
 }
   
 .ant-layout .ant-layout-header{
    background-color:rgb(255, 255, 255);

 }